body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfbfc;
}
h1 {
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 20px;
}   
p {
    color: rgb(8, 8, 8);
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px;
}
h2 {
    color: white;
    margin-top: 20px;
    padding: 0 20px;
}
header {
    background-color: #02b5fcbb;
    padding: 1px 0;
    text-align: center;
}
